# Global code owners
* @CrowdStrike/fcs-engineering

# DSPM agentless scanning
/modules/agentless-scanning-roles/ @CrowdStrike/fcs-dspm
/modules/agentless-scanning-environments/ @CrowdStrike/fcs-dspm
